.invert, #contactinfo {
	text-align: center;
  	border: 3px solid black;
	background: grey; 
	color: black;
	font-size: 20px;


#workexp, #education, #personalstatement { 
	background: grey; 
	color: black;
	font-size: 20px;
	border: 2px solid black;
	font-weight: bold;
}

#statment, #details {
	  text-indent: 20%;
	  background: lightgrey;
}
	
#experience {
	font-weight: bold;
	background: lightgrey;
	
}
	
#university {
	font-weight: bold;
	}
	
#stats {
	text-indent: 20%
	}

#body {
  background-color: lightgrey;
}
