#contactinfo {
	text-align: center;
  	border: 3px solid black;
	
}


#education {
	text-align: center;
  	border: 3px solid green;
	
}


#workexp { 
	background: grey; 
	color: black;
	font-size: 20px;
	border: 2px solid black;
}
