#contactinfo {
	text-align: center;
  	border: 3px solid black;
	font-weight: bold;
	
}


#workexp, #education, #personalstament { 
	background: grey; 
	color: black;
	font-size: 20px;
	border: 2px solid black;
	font-weight: bold;
}

#statement {
	  text-indent: 20%;
}

